.no_bg_tab_text{
    color: #03A9F4;
    font-size: 11px;
    float: right;
    margin: 10px;
    background-image: url('./assets/warning.png');
    background-repeat: no-repeat;
    padding-right: 22px;
    background-position: 207px;
}


.color_div{
    width: 109px;
    border: 1px solid #9f9e9e;
    height: 25px;
    text-align: right;
    padding-right: 10px;
    line-height: 23px;
    position: relative;
    top: 10px;
    left: 17px;
    border-radius: 15px;
    font-size: 14px;
    color: #9f9e9e;
    cursor: pointer;
}

.display_color{
    width: 50px;
    display: inline-block;
    height: 25px;
    position: relative;
    left: -59px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.display_text{
    position: relative;
    right: -51px;
    top: -8px;
}


.input_color{
    position: relative;
    top: -17px;
    left: -101px;
    opacity: 0;  
}


.image_no_bg{
    width: 98%;
    border: 1px solid;
    top: 37px;
    margin: 0 auto;
}

.image_bo_bg_div{
    overflow: auto;
    height: 85%;
}